div {
    display:grid;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: blueviolet;
    width: 500px;
    height: 900px;
    overflow: auto;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 100px;
    height: 80px;
}
